*{
    box-sizing: border-box;
}
#sections {
    margin: 15px;

}
.head {
    text-align: center;
    font-family:sans-serif, Helvetica, Arial;
    margin: 15px;
}
.section {
    position: relative;


}
.Content, .titl {
    background-color: darkgrey;
    border: 2px solid black;
    padding: 10px 10px 40px 10px;
    margin: 10px;
    height: 180px;
    overflow: hidden;
}
.titl {
    position: absolute;
    top: 0;
    right:0 ;
    padding: 0;
    height: 35px;
    width: 120px;
    font-family:Helvetica, Arial, sans-serif;
    text-align: center;
}
.Content{
    padding-top: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;

}
.title1 {
    background-color: #D59898;

}
.title2 {
    background-color:#C14543;
    color: white;

}
.title3 {
    background-color: #E5D198;

}

@media (min-width: 992px) {
    .section {
        float: left;
        width: 33.33%;
    }
}
@media (min-width:768px) and (max-width: 991px) {
    .section {
        float: left;
        width: 50%;
    }
    .section3 {
        float: left;
        width: 100%;
    }

}
@media (max-width: 767px) {
    .section {
        float: left;
        width: 100%;
    }
}